<div class="border-b border-white-less">
    <div class="flex flex-col lg:flex-row lg:w-11/12 lg:container lg:py-8 lg:mx-auto">
        <div class="p-4 lg:w-8/12">
            <div class="mb-2 lg:mb-6">
                <h1 class="text-lg font-bold capitalize lg:text-3xl">new post</h1>
            </div>
            {{ range first 1 ( where .Site.RegularPages "Section" "posts" ) }}
                <div class="overflow-hidden border rounded-lg border-white-less">
                    {{ with .Params.image.cover }}
                        <img class="object-cover w-full h-40 rounded-lg rounded-bl-none rounded-br-none lg:h-96" src="{{ . }}" alt="cover image" title="cover image">
                    {{ else }}
                        <img class="object-cover w-full h-40 rounded-lg rounded-bl-none rounded-br-none lg:h-96" src="/images/cover-post/default.png" alt="cover image" title="cover image">
                    {{ end }}   
                    <div class="p-2">
                        <ul class="flex flex-row mb-2">
                            {{ with .Params.tags }}
                                {{ range . }}
                                <li>
                                    <a class="inline-block px-2 py-1 mr-1 text-xs rounded-md bg-green-light hover:bg-green text-green-dark" href="/tags/{{ . | urlize}}">{{ . }}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                        <a href="{{ .Permalink }}" class="text-sm font-bold capitalize lg:text-2xl hover:text-blue hover:underline" title="{{ .Title }}">{{ .Title | truncate 50 }}</a>
                        <span class="block text-xs font-light capitalize lg:text-sm">{{ .PublishDate.Format "January 2, 2006" }}</span>
                        <div class="mt-2 text-xs lg:text-lg">
                            <p>{{ .Summary }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="p-4 lg:w-4/12">
            <div class="flex flex-row items-center justify-between mb-2 lg:mb-6">
                <h1 class="text-lg font-bold capitalize lg:text-3xl">recents post</h1>
                <a class="text-xs uppercase hover:text-blue-dark hover:underline lg:text-sm" href="/posts/" title="see all">see all</a>
            </div>
            <div class="flex flex-col">
                {{ range last 3 ( after 1 ( where .Site.RegularPages "Section" "posts" ) ) }}
                    <div class="p-2 mb-2 border rounded-md border-white-less hover:bg-blue-less">
                        <ul class="flex flex-row mb-2">
                            {{ with .Params.tags }}
                                {{ range . }}
                                <li>
                                    <a class="inline-block px-2 py-1 mr-1 text-xs rounded-md bg-green-light hover:bg-green text-green-dark" href="/tags/{{ . | urlize}}">{{ . }}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                        <a href="{{ .Permalink }}" title="{{ .Title }}" class="text-sm font-bold capitalize hover:text-blue-dark hover:underline lg:text-xl">{{ .Title | truncate 50 }}</a>
                        <span class="block text-xs font-light capitalize lg:text-sm">{{ .PublishDate.Format "January 2, 2006"}}</span>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>