{{ define "main" }}
<div class="border-b lg:w-11/12 lg:container lg:mx-auto border-white-less">
    <div class="p-4 lg:p-8">
        <h1 class="mb-4 text-lg font-bold capitalize lg:text-2xl">list all tags</h1>
        <ul class="flex flex-row flex-wrap justify-between lg:justify-start">
            {{ range where .Site.RegularPages "Section" "posts" }}
                <li class="mb-1 lg:mr-1"><a class="inline-block p-1 text-sm text-white rounded-md hover:bg-blue-dark hover:underline bg-blue" href="{{ .Permalink }}"> {{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}