{{ if .IsHome }}
<div class="flex flex-col lg:flex-row lg:flex-wrap">
    <div class="flex flex-col items-center order-2 p-4 lg:justify-center lg:w-6/12 lg:order-none">
        <div class="flex flex-col items-center lg:items-start lg:w-10/12 lg:container lg:mx-auto">
            <h1 class="text-lg font-bold text-center uppercase lg:text-left lg:text-5xl">{{ .Site.Params.slogan }}</h1>
            <a class="my-4 text-lg btn-primary" href="/">join now</a>
            <ul class="flex flex-row lg:mt-8">
            {{ range .Site.Menus.socialmedia }}
            <li class="mx-2 lg:ml-0 lg:mr-2"><a href="{{ .URL }}" target="_BLANK" title="{{ .Name }}">{{ .Pre }}</a></li>
            {{ end }}
            </ul>
        </div>
    </div>
    <div class="relative order-1 lg:w-6/12 lg:order-none owl-carousel owl-theme cp-slideshow">
        <div class="item">
            <img src="/images/hero/husniati-salma-ldkHWg5s3Ec-unsplash.jpg" alt="hero image 1" title="image description">
        </div>
        <div class="item">
            <img src="/images/hero/husniati-salma-CdSNG04vclA-unsplash.jpg" alt="hero image 2" title="image description">
        </div>
        <div class="item">
            <img src="/images/hero/husniati-salma-AMsiItZNgkQ-unsplash.jpg" alt="hero image 3" title="image description">
        </div>
    </div>
    <div class="order-3 w-full border-b lg:order-none border-white-less">
        <div class="flex flex-col order-3 p-4 lg:w-11/12 lg:container lg:mx-auto lg:py-8 lg:justify-between lg:flex-row">
        {{ with .Site.Menus.statistic }}
        {{ range . }}
            <div class="flex flex-row items-center p-4 mb-2 rounded-xl bg-blue-less">
                <div class="mr-4">
                    {{ .Pre }}
                </div>
                <div>
                    <h3 class="text-sm font-bold capitalize lg:text-xl">{{ .Title }}</h3>
                    <span class="text-xs font-light capitalize lg:text-lg">{{ .Name }}</span>
                </div>
            </div>
        {{ end }}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}